<%= subscribe_to "/change_user_rate/change" %>
<script>
    PrivatePub.subscribe("/change_user_rate/change", function(data, channel) {
        $('[data-user_id='+data.user_id+']').html(data.user_total);
    });
</script>
<script>
  $(function(){
      $.getJSON("http://<%= request.host_with_port %>/get_all_users",
              function(data){
                  $.each(data, function(i,item){
                      $('.api').append('<tr><td>'+item.name+'</td><td data-user_id="'+item.id+'">'+item.total_points+'</td></tr>');
                  });
              });
  });
</script>

<div class="col-md-4 row"><table class="api table table-striped" border="1"></table>  </div>

<%= form_tag('/change_rate', remote: true, class: 'form-inline', role: 'form') do %>
    <div class="form-group">
    <%= text_field_tag :id, '', class: 'form-control', placeholder: 'User ID or FullName' %>
    </div>
      <div class="form-group">
    <%= text_field_tag :increase, '', class: 'form-control', placeholder: 'Increase points' %>
    </div>
        <div class="form-group">
    <%= text_field_tag :decrease, '', class: 'form-control', placeholder: 'Decrease points' %>
    </div>
    <%= submit_tag :send, class: "btn btn-default" %>
<% end %>
